* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    height: 10%;
}
.nav1-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav1-2 a {
    text-decoration: none;
    color: white;
    margin-top: 0rem;
    font-size: 1.7rem;
    margin-left: 14rem;
}

.nav1-3-lista {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav1-3-lista a, p {
    font-size: 1.7rem;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 1rem 2rem;
}
.nav1-3-lista button {
    height: 4rem;
    width: 20rem;
    border-color: white;
    background-color: white;
    color:black;
    margin: 0rem 2rem;
    font-size: 1.7rem;
}
.nav-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 2rem;
}
.nav-figure img {
    width: 2.5rem;
    margin: 1rem 0rem;
}
.main1 {
    background-color: none;
    width: 100%;
    height: 90%;
}
.main1-contenedor {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(./Img/foto-portada-2.JPG) ;
    background-size: cover;
    background-position-y: -29rem;

   /*  filter: brightness(60%); */
}
.main1-contenedor h1 {
    color: white;
    font-size: 5rem;
    margin: 5rem;
}
/* .main1-contenedor img {
    object-fit: cover   ;
    height: 100%;
    width: 100%;
    filter: brightness(65%);
} */
.main2 {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 10rem;
    padding-bottom: 2rem;
    padding: 0rem 2rem;
}
.main2-c {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.container1, 
.container2, 
.container3 {
    margin-top: 10rem;
    width: 45rem;
    height: 45rem;
    margin: 4rem 2rem;
}
.containerimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
} 
/* Horizontal */
.container1-1, 
.container2-2, 
.container3-3 {
    width: 45rem;
    height: 48rem;
    margin: 4rem 2rem;
}
.containerimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
