* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

.nav {
    background-color: black;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.nav1-2{
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 10vh;
    color: white;
}
.nav1-2link {
    color: white;
    text-decoration: none;
}
.nav1-2 h1 {
    margin-left: 5rem;
}
.nav1-3-lista {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}
.nav1-3-lista p, a{
    color: white;
    text-decoration: none;
    margin: 2.5rem;
    font-size: 1.5rem;
}
.nav1-3-lista button {
    font-size: 1.5rem;
    margin: 2.5rem 6rem;
    padding: 1rem 2rem;
}
.nav1-3-lista {
    color: white;
}
.nav-img {
    display: flex;
    margin-right: 5rem;
    height: 2.2rem;
}
.main1 {
    display: flex;
    width: 100vw;
    height: 90vh;
    z-index: 1;
}
.main1-contenedor img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
}
.main2 {
    width: 100vw;
    height: 55rem;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.main2-c {
    display: flex;
    flex-direction: row;

}
.container1, .container2, .container3 {
    height: 40rem;
    width: 40rem;
    margin: 2rem;
}
.containerimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

