* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

.nav {
    width: 100%;
    height: 10%;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.nav1-2{
    width: 100%;
    height: 10%;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
}
.nav1-2link {
    color: black;
    text-decoration: none;
}
.nav1-2 h1 {
    margin-left: 5rem;
}
.nav1-3-lista {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}
.nav1-3-lista p, a{
    color: black;
    text-decoration: none;
    margin: 0rem 2.5rem;
    font-size: 1.5rem;
}
.nav1-3-lista button {
    background-color: black;
    color: white;
    width: 18rem;
    height: 4rem;
    font-size: 1.5rem;
    margin: 0rem 3rem;
    padding: 1rem 2rem;
}
.nav1-3-lista {
    color: bla;
}
.nav-img {
    display: flex;
    margin-right: 5rem;
    height: 2.2rem;
}

.main1 {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 70%;
}
.main1-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 5rem;
    justify-content: center;
}
.main1-1 h1 {
    margin: 2rem 0rem;
    color: white;
    font-size: 3rem;
}

.main1-titulo{
    margin: 0rem 0rem;
    color: white;
    font-size: 4rem;
    padding: 0rem 8rem;
}
.main1-texto {
    margin: 4rem 0rem;
    color: white;
    font-size: 2rem;
    padding: 0rem 8rem;
}

.main1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 5rem;
}
.contenedor {
    height: 35rem;
    width: 50rem;
}
.contenedor-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.titulo {
    background-color: black;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo1 {
    color: white;
    font-size: 4rem;
}
.main2 {
    background-color: black;
    width: 100%;
    height: auto;
    padding: 5rem 10rem;
}
.cuestionario {
    display: flex;
    flex-direction: column;
}
.cuestionario1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cuestionario1 span {
    color: white;
    font-size: 2.5rem;
    display: block;
    margin: 1rem 5rem;
}
.cuestionario1 input {
    border-radius: 1.2rem;
    width: 30rem; 
    height: 4rem;
    margin: 0rem 5rem;
    margin-bottom: 5rem;
}

.cuestionario2{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.cuestionario2 span {
    color: white;
    font-size: 2.5rem;
    display: block;
    margin: 1rem 10rem;
}
.cuestionario2 input {
    width: 111rem; 
    height: 25rem;
    margin: 0rem 10rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
}

.enviar {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}
.enviar input {
    border-radius: 1.5rem;
    font-size: 2.5rem;
    background-color: white;
    color: black;
    height: 5rem;
    width: 15rem;
}