* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 10%;
}
.nav1-2 {
    align-items: center;
}
.nav1-2 a {
    text-decoration: none;
    color: black;
    margin-top: 2rem;
    font-size: 1.7rem;
    margin-left: 14rem;
}
.nav1-3-lista {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav1-3-lista a, p {
    font-size: 1.7rem;
    text-align: center;
    color: black;
    text-decoration: none;
    margin: 1rem 2rem;
}
.nav1-3-lista button {
    height: 4rem;
    width: 20rem;
    border-color: black;
    background-color: black;
    color:white;
    margin: 0rem 2rem;
    font-size: 1.7rem;
}
.nav-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 2rem;
}
.nav-figure img {
    width: 2.5rem;
    margin: 1rem 0rem;
}

.main1 {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 70%;
}
.main1-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 2rem;
    justify-content: center;
}
.main1-1 h1 {
    margin: 1rem 0rem;
    color: white;
    font-size: 3rem;
    text-align: start;
    margin-left: 7rem;
}

.main1-titulo{
    margin: 0rem 0rem;
    color: white;
    font-size: 3.2rem;
    padding: 0rem 4rem;
}
.main1-texto {
    margin: 2.5rem 0rem;
    color: white;
    font-size: 2.5rem;
    padding: 0rem 6rem;
}
.main1-texto p {
    font-size: 2.5rem;
}

.main1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 5rem;
}
.contenedor {
    height: 45rem;
    width: 65rem;
}
.contenedor-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.titulo {
    background-color: black;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo1 {
    color: white;
    font-size: 4.5rem;
}
.main2 {
    background-color: black;
    width: 100%;
    height: auto;
    padding: 5rem 10rem;
}
.cuestionario {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cuestionario1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cuestionario1 span {
    color: white;
    font-size: 2.5rem;
    display: block;
    margin: 1rem 5rem;
}
.cuestionario1 input {
    border-radius: 1.2rem;
    width: 30rem; 
    height: 4rem;
    margin: 0rem 5rem;
    margin-bottom: 5rem;
}

.cuestionario2{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.cuestionario2 span {
    color: white;
    font-size: 2.5rem;
    display: block;
    margin: 1rem 10rem;
}
.cuestionario2 input {
    width: 111rem; 
    height: 25rem;
    margin: 0rem 10rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
}

.enviar {
    display: flex;
    padding-bottom: 2rem;
    justify-content: center;
}
.enviar input {
    border-radius: 1.5rem;
    font-size: 2.5rem;
    background-color: white;
    color: black;
    height: 5rem;
    width: 15rem;
}