* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.nav {
    background-color: black;
    width: 100%;
    height: auto;
}
.nav1-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav1-2 a {
    text-decoration: none;
    color: white;
    margin-top: 2rem;
    font-size: 2.5rem;
}
.nav1-3-lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav1-3-lista a, p {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 1rem 2rem;
}
.nav1-3-lista button {
    border-color: black;
    background-color: black;
    color:white;
    margin: 0rem 2rem;
}
.nav-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 2rem;
}
.nav-figure img {
    width: 3rem;
    margin: 1rem 0rem;
}
.main1-contenedor {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(./Img/foto-portada-2.JPG) ;
    background-size: cover;
    background-position-x: none;
    /* background-position-y: -25rem; */
   /*  filter: brightness(60%); */
}
.main1-contenedor h1 {
    color: white;
    font-size: 4rem;
    margin: 5rem;
}
/* .main1-contenedor img {
    object-fit: cover   ;
    height: 100%;
    width: 100%;
    filter: brightness(65%);
} */
.main2-c {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding: 0rem 2rem;
}
.container1, 
.container2, 
.container3 {
    width: 22rem;
    height: 22rem;
    margin: 4rem 2rem;
}
.containerimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
} 
/* Horizontal */
.container1-1, 
.container2-2, 
.container3-3 {
    width: 22rem;
    height: 22rem;
    margin: 4rem 2rem;
}
.containerimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}